<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Presidential Candidates | Twitter Sentiment Analysis </title>

        <!-- Frameworks / Style Sheets -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">


        <script src="jquery-1.11.3.min.js"></script>


    </head>
    <body>
        <section>
            <div class="row title-bar">
                <h1 class="title">
                    Presidential Candidate Tweet Sentiment Analysis
                </h1>
            </div>
            <div class="row">
                <div class="col-md-2 key">
                    <p class="key-title"> Candidates </p>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Sanders
                        </label>
                        <label>
                            <input type="checkbox">Clinton
                        </label>
                        <label>
                            <input type="checkbox">Trump
                        </label>
                        <label>
                            <input type="checkbox">Carson
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default key-btn">Submit</button>

                </div>
                <div class="col-md-10 map">
                    <p> Insert map here </p>
                </div>
            </div>
        </section>
    </body>
</html>
